@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

:root {
  --dissappear: none;
  --appear: block;
  --overflow: none;
  --contactMsg: red;
}

body {
  overflow: var(--overflow);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  z-index: 0;
  overflow-x: hidden;
  background: radial-gradient(226.38% 115.48% at 22.85% 85.93%, rgba(73, 102, 245, 0.12) 0%, rgba(73, 102, 245, 0.15) 0.01%, rgba(255, 255, 255, 0.00) 100%);
}

.headerCont {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 125px;
  background: #fff;
  padding: 0 15dvw 0 15dvw;
  border-bottom: 2px solid #f7f7f7;
  h1 {
    font-weight: 600;
    cursor: pointer;
  }
  .itemCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 30vw;
    a {
      display: inline-block;
      font-weight: 600;
      transition: 0.2s;
      cursor: pointer;
      text-decoration: none;
      color: #000000;
      font-size: 1.2vw;
    }
    a:after {
      display:block;
      content: '';
      transition: transform 0.25s ease-in-out;
      border-bottom: solid 3px #4966f5;
      transform: scaleX(0);
    }
    a:hover:after {
       transform: scaleX(1);
    }
    .getStartedButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8vw;
      height: 50px;
      border-radius: 2vw;
      color: #fff;
      background: #4966f5;
      cursor: pointer;
      transition: 0.25s;
      font-weight: 600;
      box-shadow: -2px 6px 8px -4px rgba(128,128,128,1);
    }
    .getStartedButton:hover {
      background: #5a73f2;
    }
  }
}

.splashCont {
  width: 70vw;
  height: 700px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15dvw 0 15dvw;
  .detailsCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 35vw;
    font-size: 2vw;
    h1 {
      font-weight: 500;
      height: auto;
      span {
        color: #4966F5;
      }
    }
    p {
      margin-top: -1.5vw;
      font-size: 1.3vw;
    }
    .getStarted {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12vw;
      height: 50px;
      background: #4966f5;
      font-size: 1.25vw;
      color: #fff;
      cursor: pointer;
      transition: 0.25s;
      box-shadow: -2px 6px 8px -4px rgba(128,128,128,1);
      border-radius: 4px;
      .material-symbols-outlined {
        padding-left: 10px;
          font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
      }
    }
    .getStarted:hover {
      background: #5a73f2;
    }
  }
  .splash {
    width: 54vw;
    transform: translateX(9vw);
    }
}

.aboutCont {
  margin-top: -100px;
  width: 70vw;
  height:  900px;
  // background: red;
  padding: 0 15dvw 0 15dvw;
  display: flex;
  align-items: center;
  .textCont {
    // background: blue;
    width: 50vw;
    h1 {
      width: auto;
      padding-bottom: 1vh;
      font-size: 2.5vw;
      span {
        border-bottom: solid 4px #4966f5;
      }
    }
    p {
      font-size: 1.4vw;
    }
    .getStartedBtn {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10vw;
      height: 60px;
      border-radius: 0.5vw;
      background: #4966f5;
      color: #ffffff;
      cursor: pointer;
      font-size: 1.2vw;
      box-shadow: -2px 6px 8px -4px rgba(128,128,128,1);
      transition: 0.2s;
    }
    .getStartedBtn:hover {
      background: #5a73f2;
    }
  }
  .iconCont {
    width: auto;
    height: auto;
    .tickSvg {
      transform: rotate(-15deg);
      translate: 30px -40px;
    }
    .clockSvg {
      transform: rotate(10deg);
      translate: 50px 50px;
    }
    .calendarImg {
      transform: rotate(20deg);
      translate: 30px 20px;
    }
  }
}

.examplesCont {
  margin-top: -100px;
  width: 70vw;
  height: 700px;
  padding: 0 15dvw 0 15dvw;
  text-align: center;
  span {
      color: #4966f5;
    }
  .typecont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .circle {
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: #fff;
      width: 13vw;
      border-radius: 100%;
      aspect-ratio: 1;
    }
    .name {
      font-size: 1.3vw;
      padding: 1vw;
      border-top: solid 4px #4966f5;
      border-bottom: solid 4px #4966f5;
    }
  }
}

@keyframes shake{
  1%{
    
  }
}

.contactCont {
  margin-top: 0px;
  width: 70vw;
  height:  900px;
  max-height: 900px;
  padding: 0 15dvw 0 15dvw;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    height: 1vh;
    font-size: 3vw;
    color: #4966f5;
    font-weight: 700;
  }
  p {
    font-weight: bold;
    font-size: 2vw;
  }
  .formCont {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 40vw;
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.25);
    background: #fff;
    .nameCont {
      display: flex;
      width: 40vw;
      justify-content: space-evenly;
      .Name {
        height: 40px;
        width: 15vw;
      }
      .firstCont{
        display: flex;
        flex-direction: column;
      }
    }
    .bottomCont {
      margin-left: 2vw;
      width: 40vw;
      .email {
        height: 40px;
        width: 33.5vw;
      }
      .description {
        height: 200px;
        width: 33.5vw;
      }
    }
    input {
      font-size: 1.5vw;
      border-radius: 0.5vw;
      border: 2px solid #d4d4d4;
      padding: 10px;
    }
    p {
      font-size: 1vw;
      text-align: left;
      font-weight: bold;
    }
    span {
      color: red;
    }
    .buttonCont {
      margin-top: 30px;
      width: 40vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .sendBtn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #4966f5;
        width: 15vw;
        height: 40px;
        border-radius: 1vw;
        color: #fff;
        transition: 0.25s;
      }
      p {
        margin-top: 20px;
        color: var(--contactMsg);
      }
    }
    textarea {
      border-radius: 0.75vw;
      border: 2px solid #d4d4d4;
      resize: none;
      font-size: 1.5vw;
      font-family: 'Inter', sans-serif;
      padding: 10px;
    }
    .sendBtn:hover {
      background: #5a73f2;
    }
    input:focus {
      outline: none;
    }
    textarea:focus {
      outline: none;
    }
    input:valid ~ span{
      color: green;
    }
  }
}

.footerCont {
  width: 100%;
  height: 250px;
  background: #fff;
  border-top: 2px solid #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .socialCont {
    display: flex;
    justify-content: space-between;
    width: 15vw;
    .socialBack {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #4966f5;
      width: 4vw;
      border-radius: 100%;
      aspect-ratio: 1;
      transition: 0.2s;
      cursor: pointer;
      .logo {
        width: 2vw;
      }
    }
    .socialBack:hover {
      background: #5a73f2;
    }
  }
  p {
    font-weight: 600;
    margin-bottom: 30px;
  }
  .watermark {
    margin-top: 30px;
  }
  a {
    text-decoration: none;
    color: #000000;
    border-bottom: solid 3px #4966f5;
  }
}

.PopUpCont {
  display: var(--dissappear);
  position: fixed;
  z-index: 1;
  background: #fff;
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90vw;
  height: 90vh;
  .topCont {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
 .material-symbols-outlined {
   position: absolute;
   cursor: pointer;
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
      }
  .titleCont {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      height: 5px;
      font-size: 2vw;
      span {
      color: #4966F5;
    }
    }
  }
  .circlesCont {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .singleCont {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: inherit;
      cursor: pointer;
      .circle {
        width: 270px;
        height: 270px;
        border-radius: 100%;
        aspect-ratio: 1;
        background: #4966F5;
      }
      h2 {
        text-align: center;
        width: 270px;
        height: 10px;
        font-size: 1.75vw;
      }
      p {
        padding-top: 20px;
        border-top: 8px solid #4966F5;
        width: 270px;
      }
    }
  }
}